<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwill.joo.repository.HomeRepository">

   <!-- 최근 본 상품 -->
    <select id="selectRecentlyViewedProductBy1" resultType="com.itwill.joo.domain.Product">
        select 
                p.id,
                p.pname,
                p.ptitle_image
        from PRODUCTS p
        where 1=1
        <foreach collection="list" item="item" separator="," open="AND p.id (" close=")">
            #{item}
        </foreach>
        <foreach collection="list" item="item" separator="," index="index" open="ORDER BY" close="">
            CASE WHEN p.id = to_number(#{item}) THEN #{index} ELSE -1 END
        </foreach>
        
    </select>
 
</mapper>