<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.joo.repository.ReviewRepository">
    
    <select id="selectReview" 
    	resultType="com.itwill.joo.domain.Review">
    	select * from REVIEWS
    	where U_ID = #{u_id}
    </select>
    
    <insert id="createReview">
    	insert into REVIEWS (ID, P_ID, O_ID, U_ID, RCONTENT, RRATINGS, REVIEW_IMAGE, RCREATED_TIME, RMODIFIED_TIME)
    	values(#{id}, #{p_id}, #{o_id}, #{u_id}, #{rcontent}, #{rrating}, #{review_image}, systimestamp, systimestamp)
    </insert>
    
</mapper>